

.mp1 {
color: red;
max-width: 131px;
max-height:130px;


}

.card {
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    
  }
  
  
  .new1 {
    margin: 20px 22px 10px;
    justify-content: center;
    height: 351px;
    font-weight: bold;
  
    position: relative;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    float: left;
    display: block;
    padding: 1em;
    z-index: 1;
    border-style: ridge;
  }
  
  
  .containerSearch{
    justify-content: center;
   background-color: aquamarine;
    align-items: center;
    align-content: center;
   
   
  
  }


